<div class="mobile-bar">
<span class="hamburger">
  <i class="material-icons">dehaze</i>
</span>
</div>
<nav>
<div class="wrapper">



  <%  for(var k in sails.config.navbar)
  {
    var item=sails.config.navbar[k];

    if(item.level <= user.level)
    {

    %>

  <a class="<%  if(item.class){ %> <%= item.class.join(" ") %> <% }%> <% if(typeof active !== "undefined" && k == active) { %>active<% } %>" href="<%= item.url%>" title="<%= __(item.text)%>">
    <span class="text"><%= __(item.text)%></span>
  <span class="line"></span>
  </a>


  <%
  }
  }%>



</div>

</nav>
