


<div class="mobile-bar">
<span class="hamburger">
<i class="material-icons">dehaze</i>
</span>
</div>
<nav>
  <div class="wrapper">


    <a  title="<%= __("usuario.bienvenida",user) %>">
      <span class="text"><%= __("usuario.bienvenida",user) %></span>
    </a>
    <a href="/salir" alt="<%= __("navbar.cerrarSesion")%>">
      <span class="text"><%= __("navbar.salir")%></span>
      <span class="line"></span>
    </a>

  </div>

</nav>
