<header class="w3-col s12 ">
  <h2>
    <%
    var type= __("models."+form.model+".singular");
    if(typeof item === "object" && item && item.id)
    {

      %>

    <%= __("editing",type)%>

    <%
    }
    else
    {

      %>
    <%= __("creating",type)%>

    <%
    }
    %>
  </h2>
</header>
