

<div class="video-container w3-col s12 " data-ng-if="streaming && streaming.status != 'stopped'">

  <div class="streaming-loading"   data-ng-if="streaming.status == 'loading'" >

<%- partial('loading-streaming.ejs')%>
  </div>

  <video  data-ng-if="streaming.status == 'playing'"  class="w3-col s12 " id="video"></video>
</div>

<script>


  app.controller('streamingController', function($rootScope,$http) {


    io.socket.get('/streaming/<%= s %>');

    // e.g. in the browser...
    io.socket.on('streaming', function (event){

      console.log(event);
      $rootScope.streaming=event.data.streaming;
      $rootScope.streaming.status =event.data.status;

      if(event.data.status == 'playing')
      {
        showStreaming($rootScope.streaming.id);
      }
      $rootScope.$apply();
    });




    $rootScope.streaming={status:'loading'};


    $http.get('/admin/live/streamings?<%= (s)?'id='+s:''%>').then(function(res){

      console.log(res);

      if(res.data.length)
      {
        $rootScope.streaming=res.data[0];

      }
      else
      {
        $rootScope.streaming.status = 'stopped';
      }

    },error);




    $rootScope.$watch('streaming', function(newVal, oldVal){
      if($rootScope.streaming && $rootScope.streaming.status =='playing')
      {
        setTimeout(function () {

          showStreaming($rootScope.streaming.id);

        });
      }
    }, true);

    function showStreaming(id) {

      if(Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls();
        hls.loadSource('/get/streaming/'+id+'/out.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
          video.play();
        });
      }
      else
      {
        alert("cant play hls");
      }
    }







  });



</script>

