<div class="main-container">

  <% if(typeof top === "string")
  {%>
  <%- partial(top) %>
  <%
  }%>

  <div class="line"></div>
  <%if( typeof cuerpo === "string")
  {%>
  <%- partial(cuerpo) %>
  <%}%>

  <div class="line"></div>

  <%if(typeof bottom === "string")
  {%>
  <%- partial(bottom) %>
  <%
  }%>

</div>
