<div class="main-container">

  <% if(typeof top === "string")
  {%>
  <%- partial(top) %>
  <div class="line"></div>
  <%
  }%>


  <%if( typeof cuerpo === "string")
  {%>
  <%- partial(cuerpo) %>

  <%}%>



  <%if(typeof bottom === "string")
  {%>
  <div class="line"></div>
  <%- partial(bottom) %>
  <%
  }%>

</div>
