
<form id="login-form" class="login-form w3-row w3-card-2 w3-padding" >


    <div class="form-block w3-col s12">
      <label for="user"><%= __("login.usuarioLabel") %></label>
      <input class="w3-input" name="user" type="text">

    </div>

    <div class="form-block w3-col s12">
      <label for="password"><%= __("login.contrasenaLabel") %></label>
      <input class="w3-input" name="password" type="password">

    </div>


    <div class="form-block w3-col s12 w3-margin-top">

        <button class="enviar w3-right w3-btn"  type="submit"><%= __("login.submitBtn")%></button>


    </div>

</form>
