
<form id="login-form" class="login-form w3-row w3-card-2 w3-padding" >



        <div class="form-block w3-col s12">

          <label for="user"><%= __("login.usuarioLabel") %></label>
            <input class="w3-input" name="user" type="text">


        </div>

        <div class="form-block w3-col s12 ">


                <button class="enviar w3-btn w3-margin-top w3-right"  type="submit"><%= __("login.submitBtn")%></button>


        </div>


</form>
