
<form id="login-form" class="login-form" >



    <div class="body">
        <div class="form-block">
            <input name="user" type="text">
            <label for="user"><%= __("login.usuarioLabel") %></label>

        </div>

        <div class="form-btn-block">

            <div class="btn">
                <button class="enviar"  type="submit"><%= __("login.submitBtn")%></button>
            </div>

        </div>
    </div>


</form>
