
<div class="main-container" data-ng-controller="streamingController">
  <%- partial("objetos/header.ejs") %>

  <%- partial("objetos/streaming.ejs")%>

  <%- partial("objetos/no-streaming.ejs")%>
</div>
