
<div class="main-container" data-ng-controller="streamingController">
  <%- partial("objetos/header.ejs") %>

  <div class="video-container w3-col s12 ">
    <div  data-ng-if="!streaming || streaming.status == 'stopped'" class="no-streaming">
      <%- partial("objetos/no-streaming.ejs")%>
    </div>

    <div data-ng-if="streaming && streaming.status != 'stopped'" class="streaming">
      <%- partial("objetos/streaming.ejs")%>

    </div>



    </div>
</div>
