<header class="w3-row w3-padding ">
  <h2>
    <%
    if(typeof editUser === "object")
    {
      %>
    Editando usuario<%
    }
    else
    {

      %>
    Creando usuario
    <%
    }
    %>
  </h2>
</header>
